<script id="thread-item" type="text/html">
    <tr>
        <td class="info" style="text-align:left">
            <%- name %><% if (op) { %> (OP) <% } %>
            <% if (email == 'mailto:sage') { %><b>САЖА</b><% } %>
        </td>
        <td class="info" style="text-align:right">
            <%- date %>
        </td>
    </tr>
    <tr><td colspan="2" class="attach"></td></tr>
    <tr><td colspan="2" class="text"><%= comment %></td></tr>
</script>

<script id="thread-attach" type="text/html"></script>