<script id="thread-list" type="text/html"></script>

<script id="thread-note" type="text/html">
    <table class="thread-item-body">
        <tr>
            <td>
                <a href="#" class="answer"><i>#<%-num%></i></a> 
                <b><%- name %></b> 
                <% if (op || number == 1) { %>(OP)<% } %>
            </td>
        </tr>
        <tr>
            <td>
                <% _.each(files, function(item) { %>
                    <div class="pined">
                        
                    </div>
                <% }) %>
            </td>
        </tr>
    </table>
</script>