body.darkTheme {
    background: #000;
    color: #fff;
}

.darkTheme .boards .item {
    background-color: #222;
    border-bottom: 1px solid #444;
}

.darkTheme #header {
    background-color: #222;
    border-bottom: 1px solid #444;
}

.darkTheme #header .menu-btn {
    color: #f90;
}

.darkTheme .thread .item {
    background-color: #222;
    border-bottom: 1px solid #444;
}
.darkTheme .thread .item .image div {
    background-color: #000;
}

.darkTheme .message .item {
    background-color: #222;
    border-bottom: 1px solid #444;
}
.darkTheme .message .item .pic {
    background-color: #000;
}