:root {
    --main-background-color: #ffebd2;
    --main-thread-color: #b5b7b4;
    --main-thread-color-hover: #7d899a;
    --thread-image-size: 15%;
}

@keyframes thread-animation {
    from {background: var(--main-thread-color)}
    to {background: var(--main-thread-color-hover)}
}

body {
    background: var(--main-background-color);
    padding: 0%;
    margin: 0%;
}

.thread-item {
    background: var(--main-thread-color);
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
.thread-item:hover {
    background: var(--main-thread-color-hover);
    animation-name: thread-animation;
    animation-duration: 1s;
}

.thread-item-body td{
    vertical-align: top;
}
.thread-item-body .picrelated {
    width: var(--thread-image-size);
}
.thread-item-body .content {
    width: calc(90% - var(--thread-image-size));
    max-height: 250px;
}

.picrelated div {
    width: 128px;
    height: 128px;
    background-position: center;
    background-size: cover;
}