body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.boards .item {
    padding: 15px;
    cursor: pointer;
}

#loading {
    margin-top: 55px;
    opacity: 0;
    height: 0;
    text-align: center;
}

#content {
    /* margin-top: 55px; */
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
}
#header .left {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}
#header .right {
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}
#header .center {
    text-align: center;
    font-weight: bold;
    text-shadow: 5px 5px #000;
}
#header .menu-btn {
    padding: 15px;
    font-weight: bold;
}

.thread .item {
    width: 100%;
    padding: 15px;
    margin: 5px 0;
    vertical-align: top;
}
.thread .item .image {
    width: 10%;
    text-align: center;
}
.thread .item .image div {
    width: 70px;
    height: 70px;
    background-size: cover;
}
.thread .item .subject {
    max-width: 90%;
    text-align: left;
    word-break: break-all;
    padding: 10px;
}