body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.boards .item {
    padding: 15px;
    cursor: pointer;
}

#content {
    margin-top: 55px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
}
#header .left {
    position: fixed;
    top: 0;
    left: 0;
}
#header .right {
    position: fixed;
    top: 0;
    right: 0;
}
#header .center {
    text-align: center;
    font-weight: bold;
}
#header .menu-btn {
    padding: 15px;
    font-weight: bold;
}